@font-face {
  font-family: 'baige';
  src: url('../font/baige.ttf');
}

body {
  margin: 0;
  font-size: 0.9rem;
}

.icon {
  width: 1em;
  height: 1em;
}

.totop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  color: white;
  background-color: #0966b4;
  user-select: none;
  box-shadow: 0 1px 3px #bdbdbd88;
  cursor: pointer;
}

/* header */
.logo {
  color: white;
  font-size: 1.2rem;
  font-family: 'baige';
  margin: 0 6px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: linear-gradient(black, transparent);
  user-select: none;
  text-shadow: 0 1px 2px black;
}

.header a {
  padding: 2px 6px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  text-shadow: 0 1px 2px black;
  transition: color 0.1s;
}

.header a:hover {
  color: #bdbdbd;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: auto;
  max-width: 1000px;
}

.search {
  display: inline-flex;
  background-color: #ffffff22;
  border-radius: 6px;
  padding: 6px 10px;
  transition: background-color 0.1s;
}

.search:hover,
.search:focus-within {
  background-color: #ffffff44;
}

.search input {
  color: white;
  border: none;
  outline: none;
  background: none;
  width: 40px;
  transition: width 0.2s;
}

.search:hover input,
.search:focus-within input {
  width: 120px;
}

.search button {
  color: white;
  padding: 0;
  display: inline-flex;
  font-size: inherit;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  text-shadow: 0 0 2px black;
}

.search button:hover {
  color: #bdbdbd;
}

.banner {
  position: relative;
  height: 600px;
  background-image: url('../image/banner.webp');
  background-size: cover;
  background-position: center;
}

.banner h1 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
}

/* content */
.content {
  padding: 20px;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}

.content:nth-child(1) {
  background-image: url('../image/bg1.webp');
}


.content:nth-child(2) {
  color: white;
  background-image: url('../image/bg2.webp');
  background-color: #9bc1df;
}

.content:nth-child(3) {
  color: white;
  background-image: url('../image/bg3.webp');
  background-color: #3c7fb3;
}

.content h1 {
  margin: 0;
  text-align: center;
  font-weight: normal;
  user-select: none;
}

.content h1::before,
.content h1::after {
  display: inline-block;
  content: '△';
  padding: 0 8px;
  transition: transform 0.3s;
}

.content:hover h1::before,
.content:hover h1::after {
  transform: rotateX(180deg);
}

/* content news */
.news {
  padding: 40px;
  height: 300px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: stretch;
}

.news-title {
  width: 500px;
  padding: 20px;
  background-size: cover;
  background-position: center;
  background-image: url('../image/blank.webp');
  cursor: pointer;
}

.news-title a {
  color: white;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px black;
  text-decoration: none;
}

.news-title:hover a {
  text-decoration: underline;
}

.news-items {
  width: 400px;
  padding: 10px;
  background-color: #0966b411;
}

.news-items a {
  display: block;
  margin: 10px;
  color: black;
  text-decoration: none;
}

.news-items a:hover {
  text-decoration: underline;
}

.news-items a::after {
  content: ' →';
}

/* content notice */
.notice {
  width: 800px;
  margin: 40px auto;
}

.notice a {
  display: block;
  padding: 10px;
  color: white;
  background-color: #0966b4;
  text-decoration: none;
  transition: background-color 0.1s;
}

.notice a::after {
  content: ' →';
}

.notice a:hover {
  background-color: #0966b4aa;
}

/* content media */
.video {
  display: block;
  width: 800px;
  height: 500px;
  outline: none;
  border: none;
  margin: 40px auto;
}

/* footer */
.footer {
  padding: 20px;
  color: white;
  background-color: #0966b4;
  font-size: 0.8rem;
  text-align: center;
}